textarea {
    width: 100%;
    font-size: 18px;
    padding: 10px;
    border-radius: 8px;
}

.container {
    position: relative;
}

.info-user {
    cursor: pointer;
    padding-right: 20px;

    img {
        margin-bottom: 8px;
    }

}
span {
    color: #FFF;
}