<div class="container post" fxLayout="row" fxLayoutAlign="start center">
    <div class="info-user" fxLayout="column" fxLayoutAlign="center center">
        <img [src]="post.user.icon" alt="imagem-perfil" class="profile-icon" (click)="showModal = true">
        
        <app-info-user class="info-user-modal" [userPost]="post.user" *ngIf="showModal" (close)="closeModal()"></app-info-user>
    </div>

    <div fxLayout="column" fxLayoutGap="8px" style="width: 100%;">
        <span>{{post.user.nickname}}</span>

        <textarea rows="2" disabled> {{post.msg}} </textarea>
    </div>
</div>