<div class="container" fxLayout="row">
    <div class="red-side" fxLayout="column" fxFlex="40">

    </div>

    <div class="content" fxLayout="column" fxFlex="60" fxLayoutGap="20px" fxLayoutAlign="center center">
        <span class="title">
            Login
        </span>

        <div class="inputs" fxLayout="column" [formGroup]="form">
            <mat-form-field class="example-full-width" appearance="fill" style="width: 320px;" color="primary">
                <mat-label>email</mat-label>
                <input matInput placeholder="digite seu email aqui..." formControlName="email">
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill" style="width: 320px;" color="primary">
                <mat-label>senha</mat-label>
                <input matInput placeholder="digite sua senha aqui..." type="password" formControlName="password">
            </mat-form-field>
        </div>
        
        <div class="buttons" fxLayout="column" fxLayoutGap="15px" fxLayoutAlign="center center">
            <button [disabled]="isLoading" mat-flat-button class="button login" (click)="login()">
                <mat-spinner [diameter]="20" style="margin: auto; color: #FFF" *ngIf="isLoading"></mat-spinner>
                <span [hidden]="isLoading">ENTRAR</span>
            </button>
        </div>
        
        <a href="/auth/signup">Não possui uma conta? Clique aqui para se cadastrar</a>
    </div>
</div>