<div class="container">
    <div class="filters" fxLayout="row wrap" fxLayoutGap="16px" fxLayoutAlign="start center">
        <mat-form-field class="example-full-width" appearance="fill" style="width: 320px;" color="primary" >
            <mat-label>NICKNAME</mat-label>
            <input matInput [(ngModel)]="nickname">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill" style="width: 320px;" color="primary">
            <mat-label>FUNÇÕES</mat-label>
            <mat-select multiple [(ngModel)]="selectedRoles">
                <mat-option *ngFor="let role of roles" [value]="role">
                    {{role}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill" style="width: 320px;" color="primary">
            <mat-label>ELO</mat-label>
            <mat-select multiple [(ngModel)]="selectedElos">
                <mat-option *ngFor="let elo of elos" [value]="elo.value">
                    {{elo.desc}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill" style="width: 320px;" color="primary">
            <mat-label>CAMPEÃO FAVORITO</mat-label>
            <mat-select multiple [(ngModel)]="selectedChamps">
                <input matInput placeholder="Pesquise aqui..." class="select-search-input" (keyup)="onKey($event.target)">
                    <div class="options">
                        <mat-option *ngFor="let champ of championsSelected" [value]="champ">
                            {{champ}}
                        </mat-option>
                    </div>
            </mat-select>
        </mat-form-field>

        
        <button mat-flat-button class="bg-dark-red round-button sidebar-button" (click)="submit()" [disabled]="!hasFilter()">
            PROCURAR 
            <mat-icon>search</mat-icon>
        </button>
    </div>

    <div class="users" fxLayout="column" fxLayoutGap="24px">
        <div *ngFor="let u of users; let i = index" style="width: 100%;">
            <app-duo-user  [model]="u"></app-duo-user>
    
            <div class="divider" style="margin-top: 24px;" *ngIf="i + 1 != users.length"></div>
        </div>
    </div>
</div>