.container {
    background: #545454;
    padding: 20px;
    position: absolute;
    left: 90px;
    top: -20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    user-select: none;
    z-index: 9;
}

.close {
    position: absolute;
    color: #FFF;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.name {
    color: #FFF;
}

.elo {
    font-size: 14px;
    color: #999999;
}

.title {
    font-size: 16px;
    text-align: center;
    line-height: 24px;
}

.divider {
    margin: 16px 0;
}

button {
    margin: 8px 0;
}