<div class="container" fxLayout="column">
  <div class="close" (click)="closeModal()">
    <mat-icon>close</mat-icon>
  </div>

  <div class="header" fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="start center">
    <img src="assets/images/user-icon.png" alt="imagem-perfil" class="profile-icon">

    <span class="name">Pixer</span>
    <span class="elo">Plat IV</span>
  </div>

  <div class="divider"></div>

  <p class="title">
    Quer conversar com esse jogador? <br>
    Envie um pedido de dupla!
  </p>

  <button mat-flat-button class="bg-green round-button sidebar-button">CONVIDAR</button>
</div>