<div class="container" fxLayout="column">
  <div class="close" (click)="closeModal()">
    <mat-icon>close</mat-icon>
  </div>

  <div class="header" fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="start center">
    <img [src]="userPost.icon" alt="imagem-perfil" class="profile-icon">

    <span class="name">{{userPost.nickname}}</span>
    <span class="elo"*ngIf="userPost.soloqData">{{userPost.soloqData.tier + ' ' + userPost.soloqData.rank}}</span>
  </div>

  <div class="divider"></div>

  <p class="title">
    Quer conversar com esse jogador? <br>
    Envie um pedido de dupla!
  </p>

  <button [disabled]="userLogged.id == userPost.id" mat-flat-button class="bg-green round-button sidebar-button" (click)="invite()">
    CONVIDAR
  </button>
</div>