@import '../../../../assets/colors';

.container {
    width: 280px;
}

.header {
    background-color: $red;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header mat-icon {
    font-size: 48px;
    width: 48px;
    height: 48px;
}

.body {
    padding: 24px;

    p {
        font-size: 20px;
        text-align: center;
        line-height: 28px;
        margin-bottom: 24px;
    }

    .buttons {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}