@use "../../assets/_colors.scss" as color;

.container {
    height: 100vh;
    background-color: color.$dark;
}

.red-side {
    background-color: color.$red;  
}

.red-side,
.content {
    height: 100%;
}

.text {
    max-width: 360px;
}

.button.signup {
    background-color: color.$red;
}

.button.login {
    background-color: color.$darkRed;
}

span {
    text-align: center;
}