<div class="container" >
    <div *ngIf="notificaitonsLength == 0">
        <p class="not-found-message" (click)="goToSearchPage()">
            Você não possui notificações, clique aqui para achar seus parceiros de equipe
        </p>
    </div>

    <div fxLayout="column-reverse">
        <div *ngFor="let notification of notifications$ | async; let i = index"
            [ngClass]="{'content': true, 'divider': i != 0 }">
            <app-notification [model]="notification"></app-notification>
        </div>
    </div>
</div>