@import '../../../../assets/colors';

.container {
    padding: 20px;
}

.not-found-message {
    color: $gray;
    text-align: center;
    cursor: pointer;
}

.not-found-message:hover {
    text-decoration: underline;
}