@import "../../../../assets/_colors.scss";

.container {
    padding: 20px;
}

.content {
    margin: 5px 0
}

.not-found-message {
    color: $gray;
    text-align: center;
    cursor: pointer;
}

.not-found-message:hover {
    text-decoration: underline;
}