<div class="container" fxLayout="row">
    <div class="sidebar-container" fxFlex="20">
        <app-sidebar></app-sidebar>
    </div>
    <div fxLayout="column" class="content" fxFlex="80" fxLayoutGap="10px">
        <div class="screen-title" *ngIf="title" fxLayout="row" fxLayoutAlign="space-between center">
            <span> {{ title }} </span>

            <div *ngIf="hasBackProp()" [routerLink]="'/' + hasBackProp()" style="cursor: pointer; padding: 0 10px;">
                <mat-icon>keyboard_return</mat-icon>
            </div>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>

<mat-drawer-container class="container" autosize *ngIf="isMobile">

<mat-drawer-container class="container" autosize *ngIf="isMobile">
    <mat-drawer #drawer class="sidebar" mode="side" opened="true">
        <app-sidebar></app-sidebar>
    </mat-drawer>

    <mat-drawer-content style="margin-left: 0 !important;">
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container> 