<div class="container" fxLayout="row">
    <div class="red-side" fxLayout="column" fxFlex="40"></div>
    
    <div class="content" fxLayout="column" fxFlex="60" fxLayoutGap="30px" fxLayoutAlign="center center">
        <div class="text" fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center center">
            <span class="title">
                Acesse a plataforma
            </span>
            <span class="sub-title">
                Escolha uma das opções abaixo para poder utilizar o aplicativo
            </span>
        </div>

        <div class="buttons" fxLayout="column" fxLayoutGap="15px" fxLayoutAlign="center center">
            <button mat-flat-button class="button signup" (click)="goToPage('signup')">CADASTRAR</button>
            <button mat-flat-button class="button login" (click)="goToPage('login')">ENTRAR</button>
        </div>
    </div>
</div>