<div class="container" fxLayout="column">
    <div fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="start center">
        <mat-icon class="user-icon">account_circle</mat-icon>
    
        <span class="title">PIXER</span>
    
        <button mat-flat-button class="bg-dark-red round-button sidebar-button">
            VER PERFIL
        </button>
        
        <mat-divider class="white"></mat-divider>
    
        <button mat-flat-button class="bg-dark-red square-button sidebar-button">
            DUPLAS <mat-icon>people</mat-icon>
        </button>
    
        <button mat-flat-button class="bg-dark-red square-button sidebar-button">
            CHAT <mat-icon>chat</mat-icon>
        </button>
    
        <button mat-flat-button class="bg-dark-red square-button sidebar-button">
            NOTIFICAÇÕES <mat-icon>notifications</mat-icon>
        </button>
    
        <button mat-flat-button class="bg-dark-red square-button sidebar-button">
            PROCURAR DUPLA <mat-icon>search</mat-icon>
        </button>
    </div>

    <mat-divider class="white" style="margin-top: auto; margin-bottom: 20px;"></mat-divider>

    <button mat-flat-button class="bg-dark-red round-button sidebar-button">
        SAIR
    </button>
</div>