@import "../../../assets/_colors.scss";

.container {
    padding: 30px;
    background-color: $red;
    height: 100%;
    min-height: 100vh;
    box-sizing: border-box;
}

.user-icon {
    width: 80px;
    height: 80px;
    font-size: 80px;
    color: #FFF;
}

.sidebar-button {
    font-size: 12px;
}

.sidebar-button mat-icon {
    font-size: 18px;
    width: 18px;
    height: 18px;
}

.sidebar-button {
    width: 100%;
}