@import './assets/colors';
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "@angular/material/theming";
// Plus imports for other components in your app.
@import "ngx-toastr/toastr";

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

* {
    outline: none;
    font-family: Roboto, "Helvetica Neue", Arial, Verdana, Tahoma;
    box-sizing: border-box;
}

a {
    color: $red;
}

textarea {
    resize: none;
    background-color: $lightDark;
    color: $darkContrast;
    border: none;
}

.title {
    font-size: 24px;
    color: white;
}

.sub-title {
    font-size: 14px;
    color: #f5f5f5;
    font-weight: 100;
}

.button {
    width: 180px;
    height: 36px;
    border-radius: 8px !important;
    font-size: 12px;
    font-weight: 100;
}

.mat-form-field.mat-focused .mat-form-field-label {
    color: white !important;
}

.mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: $red;
}

.mat-form-field,
.mat-progress-spinner circle, .mat-spinner circle    {
    color: #FFF;
    stroke: #FFF;
}

mat-divider {
    width: 100%;
}

mat-divider.white {
    border-top-color: #FFF;
}

// ------------------- Buttons ------------------

.mat-flat-button {
    min-width: 180px !important;
    min-height: 36.3px
}

.mat-flat-button.small {
    min-width: 100px !important;
}

.mat-flat-button.round-button {
    border-radius: 30px;
}

.mat-flat-button.square-button {
    border-radius: 0px;
}

.mat-flat-button.bg-red {
    background-color: $red;
}

.mat-flat-button.bg-dark-red {
    background-color: $darkRed;
}

.mat-flat-button.bg-dark {
    background-color: $lightDark;
}

.mat-flat-button.bg-green {
    background-color: $green;
}

.mat-flat-button.bg-yellow {
    background-color: $yellow;
}

.mat-flat-button.bg-transparent {
    background-color: transparent;
}

.mat-flat-button.out-line {
    border: 1px solid $white;
}

// end buttons 

.profile-icon {
    width: 80px;
    border-radius: 50%;
}

.post {
    .profile-icon {
        width: 60px;
    }
}

.divider {
    border-bottom: $lightDark 3px solid;
}

.icon {
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.icon.square {
    border-radius: unset;
}

// MAT STYLES

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: $red;
}

.mat-primary .mat-pseudo-checkbox-checked, .mat-primary .mat-pseudo-checkbox-indeterminate {
    background: $red;
}

.mat-dialog-container {
    padding: 0 !important;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #9c9c9c;
}

::-webkit-scrollbar-track {
    background: transparent;
}