<div class="container">
    <div class="send-message-container" fxLayout="column" fxLayoutGap="10px">
        <textarea placeholder="Digite sua mensagem aqui" name="comment" id="" rows="4"></textarea>

        <button mat-flat-button class="bg-red round-button sidebar-button" style="align-self: flex-end">
           ENVIAR
        </button>
    </div>
        
    <div class="divider" style="margin: 20px 0;"></div>
    
    <div class="messages" id="messages">
        <div class="message-container" fxLayout="row" fxLayoutGap="20px">
            <img class="icon" src="/assets/images/2015_Master_Poro.png">

            <div class="message">
                <span>Teste</span>
            </div>
        </div>

        <div class="message-container my-message" fxLayout="row" fxLayoutGap="20px">
            <img class="icon" src="/assets/images/2015_Master_Poro.png">

            <div class="message">
                <span>Teste</span>
            </div>
        </div>
    </div>
</div>